<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     
   
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"
	rel="stylesheet" />
<title>Insert title here</title>
</head>
<style>
.signupbtn {
   color: white;
    padding: 15px 50px;
    margin: 30px 0;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    float: center;
    width: 20%;
}
</style>
<body>
<div class="form-group" style="color:yellow">
    <h1 align="center"><b><i><u>Login Form</u></i></b></h1>
</div>
<br>
<div>
{(message)}
{(error.message)}
<form>
<div class="container" align="center">
<label><h3 style="color:yellow">Enter Username</h3></label>  <input type="text" ng-model="user.username"></div>
<div class="container" align="center">
<label><h3 style="color:yellow">Enter Password</h3></label>  <input type="password" ng-model="user.password"><br></div>
<div class="container" style="color:green" align="center">
<input type="submit" class="signupbtn" value="login" ng-click="login()"></div>

</form>
</div>
</body>
</html>